body {

    background-color: blue;

    color: white;

    margin: 0%;

}

#root {

    display: flex;

    flex-direction: column;

    height: 100vh;

}

a {
font-size: larger;

 color: red;

 margin-left: 10px;

 text-decoration: none;

}

header {

    color: black;

    background-color: yellow;

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding: 10px 10px;

    box-shadow: 0 2px 5px black;

}

main {

    font-size: large;

    text-align: center;

    flex-grow: 1;

    padding-top: 25vh;
}

footer {

    color: black;

    background-color: yellow;

    padding: 10px;

    text-align: center;

    align-items: center;

}

